<html>
    <head>
    </head>

    <body bgcolor="#ffffff">

        <h1>Hello, </h1>

        <p>You are a PIT User & This is a Test Mail.</p>
        <p>Thank you</p>
        <p>Admin</p>
    </body>
</html>